# Byte-compiled / optimized / DLL files

*.log

*.pot

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/

*/.gitignore

/__pycache__/

cfabib/CfA_Bib_Helper.py
cfabib/*.txt
cfabib/check.csv
cfabib/dq.sqlite3
bibhelper.py
importdata-old.py

cfabib/cfabib/secrets.py
cfabib/*.csv
cfabib/*.xlsx
cfabib/doubelcheck.py

public/*

old migrations/*

cfabib/old author files/*

cfabib/crossref.py
cfabib/examin*
cfabib/find_bibcode*