# Byte-compiled / optimized / DLL files

*.log

*.pot

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/

*/.gitignore

/__pycache__/

cfabib/CfA_Bib_Helper.py
cfabib/author_list-1.txt
cfabib/author_list-2.txt
cfabib/author_list-3.txt
cfabib/author_list-old.txt
cfabib/author_list.txt
cfabib/dev_key.txt
cfabib/dq.sqlite3
cfabib/inc_add_list.txt
bibhelper.py
importdata-old.py

cfabib/cfabib/secrets.py